@model ASP.LINQ_Test.Models.area

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cargo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.are_des)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.are_cod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
